@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-jua: "Jua", sans-serif;
  --font-pen: "Nanum Pen Script", cursive;
}

body {
  @apply bg-orange-50 text-slate-800 antialiased overflow-hidden;
  font-family: var(--font-jua);
}

.triangle-svg {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.grid-bg {
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 30px 30px;
}

.text-xs {
  font-size: 0.8rem;
  line-height: 1.15rem;
}

.text-sm {
  font-size: 0.95rem;
  line-height: 1.35rem;
}

.text-base {
  font-size: 1.0625rem;
  line-height: 1.6rem;
}

.text-lg {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.35rem;
  line-height: 1.85rem;
}

.text-2xl {
  font-size: 1.65rem;
  line-height: 2.05rem;
}

.text-3xl {
  font-size: 2.05rem;
  line-height: 2.45rem;
}
